<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Hello,{{name}}</p>
    {% if age>18 %}
       {% if age%2==0 %}
           <p>Eligible</p>
       {% else %}
          <p>Better luck next time</p>
       {% endif %}

    {% elif age==18 %}
    <p>only this time</p>   

    {% else %}
       <p>Not Eligible</p>
    {% endif %}



    <!-- For loop : for loop commenting to stop execution {#  at start and ate end   #} -->
     {% for i in data %}
        <p>name:{{i[1]}}</p>
    {% endfor %}

     {% for i in range(1,5) %}
        <p>{{'*'*i}}</p>
    {% endfor %}


</body>
</html>

