
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    min-height: 100vh;

    background: url("https://images.unsplash.com/photo-1601597111158-2fceff292cdc") no-repeat center center;
    background-size: cover;

    color: white;
    position: relative;
    text-align: center;
}


body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: -1;
}


center {
    flex: 1;   
}

h1 {
    margin-top: 50px;
    font-size: 40px;
}

nav {
    margin-top: 40px;
}

nav a {
    text-decoration: none;
    background-color: #003366;
    color: white;
    padding: 14px 30px;
    margin: 15px;
    border-radius: 8px;
    display: inline-block;
    transition: 0.3s ease;
    font-size: 18px;
}

nav a:hover {
    background-color: lightblue;
    transform: scale(1.08);
}


footer {
    text-align: center;
    padding: 15px;
    font-size: 16px;
}
