
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;   
    min-height: 100vh;        
    text-align: center;
    color: white;
    background: url("https://images.unsplash.com/photo-1601597111158-2fceff292cdc") no-repeat center center;
    background-size: cover;
    position: relative;
        justify-content: flex-start; 

}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: -1;
}

main {
    flex: 1;                  
    display: flex;
    flex-direction: column;
    justify-content: center;   
    align-items: center;      
}

h1 {
    margin-top: 50px;
    font-size: 40px;
}

nav {
    margin-top: 40px;
}

nav a {
    text-decoration: none;
    background-color: #003366;
    color: white;
    padding: 14px 30px;
    margin: 15px;
    border-radius: 8px;
    display: inline-block;
    transition: 0.3s ease;
    font-size: 18px;
}

nav a:hover {
    background-color: black;
    transform: scale(1.08);
}

footer {
    width: 100%;
    text-align: center;        
    padding: 15px 0;
    background-color: #222;
    color: white;
    flex-shrink: 0;            
    z-index: 1;                
    position: relative;
}
