body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff; 
    color: #003366; 
    margin: 0;
    padding: 20px;
}

a {
    text-decoration: none;
    color: #0055aa;
    font-weight: bold;
    margin-bottom: 20px;
    display: inline-block;
}


h2 {
    color: #003366;
    margin-bottom: 30px;
}

h5 {
    color: #0055aa;
    margin-top: 30px;
    margin-bottom: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 30px;
    background-color: #ffffff; 
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    border-radius: 8px;
    overflow: hidden;
}


th {
    background-color: #0055aa; 
    color: white;
    padding: 10px;
    text-align: left;
}

td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

tr:nth-child(even) {
    background-color: #e6f0ff; 
}


